.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  display: flex;
  padding-top: 100px;
  align-items: center;
  justify-content: flex-start;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-image: linear-gradient(to top, #141414 50%, transparent 100%);
  opacity: 0.7;
}

.banner__contents {
  max-width: 800px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #fff;
}

.banner__description {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
  max-width: 640px;
  margin-bottom: 2rem;
}

.banner__buttons {
  display: flex;
  gap: 13px;
}

.banner__button {
  font-family: inherit !important;
  text-transform: capitalize !important;
  font-size: 17px !important;
  font-weight: 600 !important;
  padding: 10px 20px !important;
}

.icons {
  font-size: 2rem !important;
}

@media (max-width: 767px) {
  .banner {
    padding-top: 50px;
  }

  .banner__title {
    font-size: 2rem;
  }

  .banner__description {
    font-size: 1rem;
    max-width: 80vw;
  }

  .banner__button {
    margin-bottom: 1rem;
  }
}
